@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-image: url("https://wallpapercave.com/download/anime-white-and-purple-landscape-wallpapers-wp5250055");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 1);
}
.custom-blur {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(56, 46, 99, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
